body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', "Permanent Marker", Calibri, 'Trebuchet MS', sans-serif;
}

/* Header */ 

h1 {
  font-size: 3.5rem;
}

h2 {
  justify-content: center;
}

.logo {
  padding-top: 0.7rem;
  margin-left: 2rem;
  margin-bottom: 5rem;
  font-family: 'Inter';
  letter-spacing: 20px;
}

#navigation {
  float: right;
  margin-top: -8rem;
  color: black;
}

#navigation ul {
  list-style: none;
}

#navigation ul li{
  display: inline-block;
  margin-left: 25px;
  margin-right: 25px;
  font-size: 1.5rem;
}

/* Links */ 

a {
  color: black;
}

a:link { text-decoration: none; }

a:visited { text-decoration: none; }

a:hover { text-decoration: none; }

a:active { text-decoration: none; }

/* Main Grid */


.page-wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto;
  margin-left: 8rem;
  max-width: 80%;
  row-gap: 7rem;
}

#work {
  border-right: 3.5px solid black;
  font-family: 'Inter';
  letter-spacing: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end ;
  font-size: 1.8rem;
}

#categoryGrid{
  background-color: antiquewhite;
}

#about {
  border-right: 3.5px solid black;
  font-family: 'Inter';
  letter-spacing: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end ;
  font-size: 1.8rem;
}

#aboutparagraph p {
  font-family: 'Inter';
  font-size: 1.7rem;
  line-height: 3rem;
}

#contact {
  border-right: 3.5px solid black;
  font-family: 'Inter';
  letter-spacing: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end ;
  font-size: 1.8rem;
}

/* The portfolio grid */ 

#categoryGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 200px 200px 200px;
  grid-template-areas: 
  "studyguide studyguide"
  "semantic other1"
  "other2 other3";
  padding: 15px;
  gap: 15px
}

#studyguide {
  grid-area: studyguide;
  background-color: white;
}

#semantic {
  grid-area: semantic;
  background-color: white;
}

#other1 {
  grid-area: other1;
  background-color: white;
}

#other2 {
  grid-area: other2;
  background-color: white;
}

#other3 {
  grid-area: other3;
  background-color: white;
}

/* About Me */

p {
  padding-left: 20px;
  font-size: 1.5rem;
  line-height: 1.75rem;
}

/* Contact */

#contactlink {
  background-color: grey;
  margin-bottom: 2rem;
}

#contact {
  margin-bottom: 2rem;
}

#contactlink ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

